extends layout

block content
  script.
    $("#home-menu").addClass("active");
  form(method="post", class="form-inline", role="form")
    input(type="url" name="url", class="form-control margin", placeholder="Enter URL", required)
    input(type="submit", class="btn btn-primary margin", value="Shorten")
  if url
    h4 The shortened url for #{url} is: #[a(href="#{short_url}" target="_blank") #{short_url}]
